$primaryColor: #b03a2e;  
$secondaryColor: #e07b39; 
$accentColor: #f2d398;  
$greyColor: #7a7a7a;     

$defaultFont:'Lato', sans-serif;    
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;


$lightWeight: 300;
